<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Boards
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="active">{{ project.name }}</li>
    </ol>
</section>

<div ng-include="'static/views/boards/create.html'"></div>
<div ng-include="'static/views/boards/delete.html'"></div>

<!-- Main content -->
<section class="content">

  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" ng-click="hideAlert('.content .alert')">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <span class="message">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </span>
  </div>

  <div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <div class="box-tools col-md-12">
                    <input type="text" name="table_search" class="form-control input-sm search" style="width: 150px" placeholder="Search" ng-model="search.name"/>
                    <button class="btn btn-sm btn-default search"><i class="fa fa-search"></i></button>
                    <button class="btn btn-primary btn-sm pull-right" modal-backdrop="static" ng-click="showCreateBoardModal('#saveBoard')">Add board</button>
                  </div>
              </div><!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                  <table class="table table-hover text-center">
                      <tr data-ng-if="boards.length > 0">
                          <th>Name</th>
                          <th>Status</th>
                          <th>Options</th>
                      </tr>
                      <tr ng-repeat="board in boards | filter:search">
                        <td><a href="/projects/{{ projectId }}/board/{{ board.id }}">{{ board.name }}</a></td>
                        <td>{{ board.status }}</td>
                        <td>
                          <span class="label label-success button" ng-click="showEditBoardModal(board, '#saveBoard')">Edit</span>
                          <span class="label label-danger button" ng-click="showDeleteBoardModal(board, '#deleteBoard')">Delete</span>
                        </td>
                      </tr>
                      <tr data-ng-if="boards.length == 0">
                        <td colspan="3">No boards added</td>
                      </tr>
                  </table>
              </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>
  </div>

</section><!-- /.content -->
